<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" >
    <test name="平台管理员" preserve-order="true" >
        <classes>
            <class name="Backstage.admin.panel"></class>
            <class name="Backstage.admin.UserManagement"></class>
            <class name="Backstage.admin.FinanceManagement"></class>
            <class name="Backstage.admin.ReportManagement"></class>

        </classes>
    </test>


</suite>