<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/jtc/IdeaProjects/game">
        <classes>
            <class name="adminTestCase.adminHomeTestCase"></class>
            <class name="adminTestCase.cashBusinessDetailTestCase"></class>
            <class name="adminTestCase.cashAgentDetailTestCase"></class>
            <class name="adminTestCase.creditDetailTestCase"></class>
            <class name="cashAgentTestCase.cashAgentHomeTestCase"></class>
            <class name="creditAgentTestCase.creditAgentHomeTestCase"></class>
            <class name="creditAgentTestCase.creditAgentPlayerTestCase"></class>
        </classes>
    </test>
</suite>